PORT=3000
MONGO_URI=mongodb://localhost:27017/sersaeDB
JWT_SECRET=tu_secreto_aqui
SESSION_SECRET=tu_session_secreto_aqui
NODE_ENV=development #este parametro lo usa la cookie en el login
GITHUB_CLIENT_ID=Ov23li8wfsFgFOicT8SK
GITHUB_CLIENT_SECRET=4ad31aedd46d49ab6896dc6d911b7bf6aeef09fd
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback